# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
matplotlib==3.2.0
numpy==1.18.1
pandas==1.0.1
scikit-learn==0.22.2.post1
opencv-python==4.5.4.58